[alias]
	lg = log --all --graph --oneline --abbrev-commit
[push]
	default = simple
[core]
	editor = vim
	autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[color "diff"]
	meta = bold
	new = cyan
[submodule]
	recurse = true
