[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	email = vasart169@gmail.com
	name = Artem Vasenin
[push]
	defaults = simple
	default = simple
[core]
	editor = vim
[lfs]
    fetchexclude = *
