[alias]
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[user]
	email = vasart169@gmail.com
	name = Artem Vasenin
[push]
	default = simple
[core]
	editor = vim
    autocrlf = input
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[color "diff"]
	meta = bold
	new = cyan
[submodule]
	recurse = true
