[submodule "fzf"]
	path = fzf
	url = https://github.com/junegunn/fzf.git
[submodule "Vundle.vim"]
	path = Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tpm"]
	path = tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "fonts"]
	path = fonts
	url = https://github.com/powerline/fonts.git
[submodule "awesome-terminal-fonts"]
	path = awesome-terminal-fonts
	url = https://github.com/gabrielelana/awesome-terminal-fonts.git
[submodule "antigen"]
	path = antigen
	url = https://github.com/zsh-users/antigen.git
